<h1>Réinitialisez votre mot de passe chez My Digital Market Place</h1>
<p>Bonjour {{ user.nickname }}</p>
<p>Pour choisir u n nouveau mot de passe veuillez cliguer sur le lien suivant</p>
<a href="{{ url|raw }}">Lien</a>
<p>Merci</p>