{% extends 'base.html.twig' %}

{% block title %}Erreur 404{% endblock %}
{% block body %}
    <h1>Erreur 404</h1>
    <p>Une Erreur s'est produite</p>
    <p>Le lien demandé n'est pas disponible</p>
{% endblock %}