
{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}
{% block body %}
    <h1>Erreur 403</h1>
    <p>Une Erreur s'est produite</p>
    <p>Le lien demandé n'est pas accessible</p>
{% endblock %}